.main__destinos {
  h2 {
    font-weight: bold;
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
    font-family: $fuente-principal;
    color: $azul;
  }

  .main__destinos__grid {    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    
    .accordion-button{      
      font-family: $fuente-principal;
      font-size: 1.2rem;
      text-align: center;
      color: $azul;
      font-weight: bold;
      margin-bottom: 1rem;      
    }

    .accordion-item{   
      margin: auto;           
      width: 95%;        
    }

    .collapse{
      text-align: justify;
      width: 100%;
    }

    article {
      @include flexbox-column;      

      img {
        width: 95%;
        margin-top: 2rem;
      }

      h3 {
        font-weight: bold;
        margin-top: 1rem;
        text-align: center;
        font-size: 1.8rem;
      }

      p {
        text-align: justify;
        width: 90%;
        margin-top: 1rem;
      }
    }
  }
}