footer {  
  background-image: url("../assets/images/footer_11zon.webp");
  background-size: cover;
  background-position: center;  
  .footer__nav__logo2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a img {
      margin-top: 12rem;
      max-width: 100%;
      margin-left: 0.2rem;
      border-radius: 50%;
      width: 100px;
      padding: 0.3rem;
    }
    h2 {
      font-family: $fuente-logo;
      font-size: 3rem;
      margin-top:12rem;      
      margin-right: 8rem;
      font-family: $fuente-logo;
      font-weight: bold;
      color: $blanco;
      font-size: 2.5rem;
      background: -webkit-linear-gradient(90deg, $rojo 10%, $blanco 50%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: $blanco;      
    }
  }
  .footer__contenedor-redes {
    display: flex;
    flex-wrap:nowrap;
    justify-content: flex-end;
    align-items: center;    
    a {
      font-weight: bold;
      font-size: 1.5rem;
      margin: 1rem 2rem;      
    }
  }
}
