.header {
  @include flexbox-row;
  background-image: $fondo-navegacion;
  border-bottom: solid 5px $blanco;
  border-top: solid 5px $blanco;
  align-items: center;

  .nav__logo a {
    display: flex;
    align-items: center;
    .nav__h2 {
      font-family: "Permanent Marker", cursive;
      font-weight: bold;
      color: $blanco;
      font-size: 2.2rem;
      background: -webkit-linear-gradient(90deg, $rojo 10%, $blanco 50%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: $blanco;
    }
    .nav__logo__img {
      margin-left: 0.2rem;
      border-radius: 50%;
      width: 100px;
      padding: 0.3rem;
    }
  }
  .dropdown {
    display: none;
  }

  .nav__ul {
    display: flex;    
    margin-bottom: 0; 
    padding-left: 0;
       
    li {      
      margin-right: 1rem;
      .nav-inicio {
        border-bottom: solid 3px $blanco;
        color: $blanco;        
      }
      .nav-destinos {
        border-bottom: solid 3px $blanco;
        color: $blanco;
      }
      .nav-nosotros {
        border-bottom: solid 3px $blanco;
        color: $blanco;
      }
      .galeria {
        border-bottom: solid 3px $blanco;
        color: $blanco;
      }
      .contactanos {
        border-bottom: solid 3px $blanco;
        color: $blanco;
      }
    }
  }
}
