/* FUENTES */

$fuente-principal: "Noto Sans Kannada", sans-serif;
$fuente-logo:"Permanent Marker", cursive;


/* ENLACES */

$tamanio-enlaces: 1.2rem;

/* PARRAFOS */

$tamanio-parrafos:1rem;

/* COLORES */

$color-fondo:#b8c4d4b9;
$fondo-navegacion:linear-gradient(180deg, #082030 0%, #116295 90%);
$amarillo:#f3c14e;
$blanco:#ffffff;
$negro:#1e1e1f;
$rojo:#ad2227df;

/* MEDIAQUERIES */

$mobile: 480px;
$tablet: 768px;



