/* FUENTES */

$fuente-principal: 'Montserrat', sans-serif;
$fuente-logo:"Permanent Marker", cursive;


/* ENLACES */

$tamanio-enlaces: 1.2rem;

/* PARRAFOS */

$tamanio-parrafos:1rem;

/* COLORES */

$color-fondo:rgba(17, 100, 151, 0.2);
$fondo-navegacion:linear-gradient(180deg, #082030 0%, #116295 90%);
$blanco:#ffffff;
$negro:#1e1e1f;
$rojo:#ad2227df;
$azul: #116295;
$azul-oscuro: #082030;

/* MEDIAQUERIES */

$mobile: 480px;
$tablet: 768px;
$pc1: 990px;



